* {
    box-sizing: border-box;
    margin: 0%;
}

.mypage {
    border: 1px dotted black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__left {
    border: 1px dotted black;
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__left__header {
    border: 1px dotted black;
    padding: 20px;
    height: 5%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: calc(5px + 1vmin);
}

.mypage__left__body {
    border: 1px dotted black;
    height: 40%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__left__body__profile {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__left__body__profile__picture {
    border: 1px dotted black;
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__left__body__profile__user {
    font-size: calc(8px + 1vmin);
}

.mypage__left__body__graph {
    border: 1px dotted black;
    height: 90%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__left__footer {
    border: 1px dotted black;
    height: 35%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.test {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__left__footer__list {
    border: 1px dotted black;
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mypage__right {
    border: 1px dotted black;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mypage__right__header {
    border: 1px dotted black;
    padding: 10px;
    margin: 2vh;
    height: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: calc(6px + 1vmin);
}

.mypage__right__list {
    margin: 1vh;
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mypage__right__list__left {
    border: 1px dotted black;
    padding: 1vh;
    height: 100%;
    width: 50%;
    font-size: calc(4px + 1vmin);


}

.mypage__right__list__right {
    border: 1px dotted black;
    padding: 1vh;
    height: 100%;
    width: 50%;
    font-size: calc(4px + 1vmin);
}