<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link th:href="@{/styles/login.css}" rel="stylesheet">
    <script src="scripts/login.js"></script>
</head>

<body>
    <div class="login-container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label for="id">Id:</label>
            <input type="text" id="userId" name="userId" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <a th:href="@{/register}">Register</a>
    </div>
</body>

</html>